boto
certifi
chardet
cycler
dataclasses
future
idna
kiwisolver
matplotlib
numpy
opencv-python
pandas
Pillow
pyparsing
pysparkling
python-dateutil
python-json-logger
pytz
requests
scipy
six
openpifpaf
torch
torchvision
urllib3
tensorflow
flask