body {
  background-color: #f2f2f2;
  color: #212529;
  margin: 0;
}

#NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: #cacaca;
  border-bottom: 1px solid #bdbcbc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}


#NavBar h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-left: 20px;
  cursor: pointer;
}

#NavBar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

#NavBar a {
  text-decoration: none;
  color: #212529;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
}

#NavBar a:hover {
  color: #000;
}

#items {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px; 
  width: 650px;
  margin: 0 auto;
  margin-top: 15%;
}


#items a {
  border-radius: 8px;
  background-color: #434242;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  padding: 45px 40px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}




#items a:hover {
  background-color: #484141;
  transition: 0.3s;
  animation: bounceUp 0.9s;
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



#bottom {
  position: fixed;
  bottom: 0;
}

button {
  border-radius: 6px;
  background-color: #000;
  border-color: #000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid #000;
}

#image-container {
  display: block;
  text-align: center;
}

#info {
  visibility: hidden;
}

#main {
  text-align: center;
}