body {
  background-color: #f2f2f2;
  color: #212529;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: #917FB3;
  border-bottom: 1px solid #bdbcbc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

#NavBar h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-left: 20px;
  cursor: pointer;
}

#NavBar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

#NavBar a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
}

#NavBar a:hover {
  color: #FDE2F3;
  transition: 0.3s;
}

#NavBar div > div {
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
  cursor: pointer;
  width: 10px;
}

#NavBar div > div:hover {
  color: #FDE2F3;
  transition: 0.3s;
}

#items {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px; 
  width: 650px;
  margin: 0 auto;
  margin-top: 10%;
}

#items a {
  background-color: #434242;
  color: white;
  border: none;
  padding: 40px 40px;
  font-size: 16px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

#items a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}

#items a:hover::after {
  width: 500px;
  height: 500px;
}

#items a:hover {
  background-color: #484141;
  transition: 0.3s;
  animation: bounceUp 0.9s;
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



#bottom {
  position: fixed;
  bottom: 0;
}

button {
  border-radius: 6px;
  background-color: #000;
  border-color: #000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid #000;
}

#image-container {
  display: block;
  text-align: center;
}

#info {
  visibility: hidden;
}

#main {
  text-align: center;
}


#close {
  display: none;
}

#Menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  transition: all 0.3s ease;
}

